html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  color: #118F66;
  font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #f1f1f8;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f1f1f9;
  padding: 0 20px 20px 20px;
  border: 5px hidden;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  font-size: 16px;
}
